@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/functions";

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    // background-color: variables.$bgColor;
    font-family: typography.$font;
}

a {
    display: inline-block;
    // color: variables.$lightBlack;
    @include functions.animate(.3s);
}

li {
    list-style-type: none;
}

p {
    color: black;
    line-height: 24px;
}

.color {
    // color: variables.$color;
}


.btn {
    outline: 0;
    border: 0;
    &:focus {
        
        box-shadow: none;
    }
}
